
html {
    background-color: black;
    background-image: url("batman.jpg");
    background-size : 100% 45%;
    background-repeat:   no-repeat;
    padding: 280px 0px;
  }

h1{
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    display: block;
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#ytLink{
    height:30px;
    width: 600px;
    border-radius:25px;
}

div{
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
input[type="radio"] {
    display: none;
}

.format{
    display: inline-block;
    height: 30px;
    width: 100px;
    background-size: 130px 50px;
    background-color:red;
    position: relative;
    top:0;
    color:black;
    margin-bottom: 5px;
    border-radius: 10px;
 }
span{
    display: block;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}
 .format:hover{
     background-color:orange;
 }

 input[type="radio"]:checked+span{
      background-color:orange;
}

#startRange{
    display: inline-block;
    height: 20px;
    width: 60px;
    background-size: 130px 50px;
    border-radius:15px;
    position: relative;
    top:0;
}
#endRange{
    display: inline-block;
    height: 20px;
    width: 60px;
    background-size: 130px 50px;
    border-radius:15px;
    position: relative;
    top:0;
}

#downloadButton{
    background-color: red;
    border: none;
    font-size: 17px;
    color: black;
    padding: 10px 32px;
    border-radius: 25px;
}
#downloadButton:hover{
    background-color: orange;
}


/*@media screen and (max-height: 1920px){
    html{
        background-image: url("northernLights-mobile1.jpg");
        padding: 0;
     }
    input[type="text"]{
        width:90%;
    }
  
}*/

@media screen and (max-width: 600px){
    #ytLink{
        width:90%;
    }
    h1{
        font-weight: 200;
    }
  
}


input{
    margin-bottom: 5px;
}

/*#footer{
    width: 95%;
    background-color:#4e4e4e;
    position: absolute;
    clear: both;
    color:white;
    bottom:0;
    text-align: center;
  }*/

